@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw-8px;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  background: #202020; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(139, 139, 139, 0.788); /*스크롤바 뒷 배경 색상*/
}
